<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourrceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dipl</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">15101995</property>
		
		<mapping resource="ZyrnalYchKonsPoTelefony.hbm.xml"/>
		<mapping resource="ListOsmotra.hbm.xml"/>
	</session-factory>
</hibernate-configuration>