<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourrceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dipl</property>
		<property name="hibernate.connection.username">postgres</property>

		<property name="hibernate.connection.password">15101995</property>
		
		<mapping resource="ListOsmotra.hbm.xml"/>
		<mapping resource="CallDay.hbm.xml" />
		<mapping resource="Address.hbm.xml" />
		<mapping resource="Diuresis.hbm.xml" />
		<mapping resource="Card.hbm.xml" />
		<mapping resource="Clinic.hbm.xml" />
		<mapping resource="ConsultationResult.hbm.xml" />
		<mapping resource="Contact.hbm.xml" />
		<mapping resource="Diuresis.hbm.xml" />
		<mapping resource="PhoneConsultationsJournal.hbm.xml" />
		<mapping resource="Diuresis.hbm.xml" />
		<mapping resource="EvaluationXbsShvo.hbm.xml" />
		<mapping resource="EvaluationShfa.hbm.xml" />
		<mapping resource="ExternalEvidence.hbm.xml" />
		<mapping resource="HeavyNarcoticJournal.hbm.xml" />
		<mapping resource="JournalOutpatientReception.hbm.xml" />
		<mapping resource="Liver.hbm.xml" />
		<mapping resource="Pacient.hbm.xml" />
		<mapping resource="Palpation.hbm.xml" />
		<mapping resource="Position.hbm.xml" />
		<mapping resource="Pulse.hbm.xml" />
		<mapping resource="Specialist.hbm.xml" />
		<mapping resource="SwallowingAct.hbm.xml" />
		<mapping resource="Theart.hbm.xml" />
		<mapping resource="TherapeuticDiagnosticManipulationsJournal.hbm.xml" />
		<mapping resource="CallPlanningJournal.hbm.xml" />
		<mapping resource="ListOsmotra.hbm.xml" />
		<mapping resource="Tyazest.hbm.xml" />
	</session-factory>
</hibernate-configuration>